body {
    max-width: 100%;
    font-style: 14px;
    color: #fff;
    font-family: 'Armata', sans-serif;
}
.panel-body2
{
padding-top: 30px;
}
.input-2
{
padding-bottom: 20px;
}
.sw-nav {
    margin-top: 135px;
}
.btn {
    border-radius: 4px!important;
}
.panel-default {
    background: rgba(69, 63, 63, 0.14) none repeat scroll 0% 0%;
    box-shadow: 0px 0px 7px #7D80A8 inset;
    border-color: transparent;
}
#login {
    background-color: rgba(255,25,1,0.54);
    border-color: rgba(255,25,1,0.54);
}
.panel-default .form-control{
    color: rgba(0,0,0,.54);
    background-color: #fff;
    border: 2px solid #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 49px;
}
.panel-default .form-control:hover{
    border: 2px solid rgba(255,25,1,0.54);
}
.panel-default select {
    height: 43px;
}

.panel-default .panel-heading {
    background-color: rgba(6, 6, 6, 0);
    padding: 22px;
    border-color: transparent;
    border-bottom: 2px solid rgba(204, 204, 204, 0.41);
}
}
.panel-body {
    padding: 35px 25px;
}
.panel-title {
    color: #ddd;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
.input-group .input-group-addon {
    font-size: 25px;
    line-height: 34px;
    background-color: #fff;
    border-right: 1px solid rgba(0,0,0,.54);
    color: rgba(0,0,0,.54);   
}
.panel-footer {
    background-color: RGBA(0, 0, 0, 0.31);
    color: #fff;
    border-color: transparent;
    padding-bottom: 25px;
}
.pull-green-btn{
    float: right;
    background: rgba(7, 99, 27, 0.87);
    border-color: rgba(7, 99, 27, 0.87) !important;
    padding: 7px 16px 7px 16px;
    font-weight: bold;
}
input.parsley-error, select.parsley-error, textarea.parsley-error {
    border: 1px solid rgb(255, 96, 96);
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}
a.btn-out {
    font-size: 15px;
    color: #ddd;
    /*border: 1px solid #ddd;
    padding: 12px;
    border-radius: 20px;*/
}
.Sign-up-heading {
    width: 100%;
    float: left;
    padding-top: 62px;
}
.signup-title
{
    width: 100%;
    float: left;
    margin-bottom: 30px;
    margin-top: -40px;
}
.Sign-up-heading h1 {
    width: 100%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 70px;
    font-family: 'Athiti',sans-serif;
}
.parsley-errors-list li {
    font-size: 14px;
    color: #FF5656;
    margin-left: 13px;
    margin-top: 5px;
    list-style-type: none;
}
.parsley-errors-list  {
    position: absolute;
    display: block;
    top: 41px;
    left: 0px;
}
#signup {
    background-color: rgba(255,25,1,0.54);
    border-color: rgba(255,25,1,0.54);
}
.alert {
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 1px;
}
.alert-danger {
    color: #FFD8D7;
    background-color: #C24343;
}
.alert-success {
    /*color: #FFD8D7;
    background-color: #C24343;*/
}
.term2:focus{
    color: #337ab7;
    text-decoration: underline;
}
.term2:hover {
    color: #337ab7;
    text-decoration: underline;
}
#show_message{
    /*height: 35px;*/
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    #signupForm .form-group {
        margin-bottom: 0;
    }
    #signupForm .input-group {
        margin-bottom: 12px;
    }
}

/*========================================*/ 
/* Loading */ 
#loading{
    background-color: #eaecef;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    margin-top: 0px;
    top: 0px;
}
#loading-center{
    width: 100%;
    height: 100%;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
    -ms-transform: rotate(-135deg); 
    -webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);
}
.object{
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-top: 5px solid #4D8EF0;
    border-bottom: 5px solid transparent;
    border-left:  5px solid #4D8EF0;
    border-right: 5px solid transparent;
    -webkit-animation: animate 2s infinite;
    animation: animate 2s infinite; 
}
#object_one{
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
}

#object_two{
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#object_three{
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#object_four{
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}   
@-webkit-keyframes animate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8); 
        -webkit-transform: rotate(360deg) scale(0.8); 
        transform: rotate(360deg) scale(0.8); 
    }
}
@keyframes animate {
    50% {
        -ms-transform: rotate(360deg) scale(0.8); 
        -webkit-transform: rotate(360deg) scale(0.8); 
        transform: rotate(360deg) scale(0.8); 
    } 
}
/*========================================*/ 

.signup-page
{
 width:100%;
 float:left;
 background-image: url(../../../Assets/signup/img/signin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 770px;
}
#sw {
    width: 100%;
    float: left;
    margin-top: -81px;
}

    /* very small screen */ 
    @media only screen and (min-width : 240px) {
      .signup-page
      {
      }
      .Sign-up-heading h1 {
      font-size: 20px;
      }
      #sw {
      width: 100%;
      float: left;
      margin-top: -144px;
      }
      span.account-span {
      font-size: 11px;
       }
      .btn-group-lg>.btn, .btn-lg {
      padding: 10px 16px;
      font-size: 14px;
      }
     label {
     font-size: 12px;
     }
     .panel-title {
      font-size: 17px;
     }
      a.btn-out {
     font-size: 13px;
     }
     .input-group {
     margin-bottom: 16px;
     }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
      .signup-page
      {
        min-height: 500px;
      }
    .Sign-up-heading h1 {
    font-size: 40px;
    } 
     .input-group {
     margin-bottom: 16px;
     } 
    .panel-body2 {
    padding-top: 14px;
    }    
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
      .signup-page
      {
        min-height: 500px;
      }
    .Sign-up-heading h1 {
    font-size: 40px;
    }
     .input-group {
     margin-bottom: 16px;
     }
    .panel-body2 {
    padding-top: 14px;
    }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .signup-page
      {
         min-height: 1025px;
      }
      .Sign-up-heading h1 {
      font-size: 60px;
      }
      #sw {
      margin-top: -100px;
      }
      .Sign-up-heading {
      padding-top: 105px;
      }
      }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .signup-page
      {
         min-height: 802px;
      }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
      .signup-page
      {
        min-height: 802px;
      }
    }



















